*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header-left::after{
  clear: both;
  content: "";
  display: table;
}
.header-left{
  background-color: #f0f8ff;
  float: left;
  width: 50%;
  font-size: 15px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.header-left a{
  border-left: 1px solid black;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
#language{
  background-color:#f0f8ff;
  border-width: 0px;
  border-style: none;
  border-color:transparent;
}
.header-right::after{
  clear: both;
  content: "";
  display: table;
}
.header-right{
  background-color: #f0f8ff;
  float: left;
  width: 50%;
  font-size: 15px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.header-right .fas{
  font-size: 20px;
  color: #99deda;
}
.buttom:hover{
  background-color: rgba(255, 123, 90, 0.3)
}
.buttom{
  border: solid #ff7b5a 1px;
  padding:8px;
  text-decoration: none;
  border-radius: 10%;
  margin-left: 10px;
  background-color: #ff7b5a;
  color: white;
}
.login{
  color: #ff7b5a;
  background-color: white;
}
.nav-top::after{
  clear: both;
  content: "";
  display: table;
}
.nav-left{
  font-family: 'Roboto', sans-serif;
  width: 50%;
  float: left;
  line-height: 80px;
  position: relative;
  right: 45px;
}
.nav-right{
  font-family: 'Roboto', sans-serif;
  float: left;
  width: 50%;
  position: relative;
  right: 100px;
  line-height: 80px;
}
.nav-right li{
  display: inline-block;
  margin-left: 10px;
}
.nav-right select{
  border-width: 0px;
  border-style: none;
  border-color:transparent;
  font-size: 15px;
}
.nav-right a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.bottom-header{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: url(../img_1/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.bottom-header h1{
  position: relative;
  top:80px;
  left:530px;
  font-size: 70px;
  text-align: left;
}
.bottom-header p{
  position: relative;
  top:80px;
  left:530px;
  text-align: left;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 80px;
}
.bottom-header a{
  position: relative;
  right: 650px;
  top:60px;
  padding: 20px;
  margin-bottom: 30px;
}
